# ===== PYTHON =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.env.*

# ===== UPLOADS & RESULTS (biar tetap kosong di repo) =====
uploads/*
!uploads/.gitkeep

results/*
!results/.gitkeep

# ===== NODE.JS =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== OS-SPECIFIC =====
.DS_Store
Thumbs.db

# ===== EDITOR FILES =====
.vscode/
.idea/
*.swp
